* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: calc(1vw + 1em);
}

.bg {
  background-image: url("../img/bg-ubuntu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-left,
.bg-right {
  background-size: 400px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(2px 4px 6px black);
  filter: drop-shadow(2px 4px 6px black);
}

.bg-left {
  background-image: url("../img/bug-fix.png");
  background-position: -200px center;
}

.bg-right {
  background-image: url("../img/bug-fix.png");
  background-position: calc(100% + 200px) center;
}

.owl-carousel {
  width: 100vw;
}
.owl-carousel .owl-item {
  height: 100vh;
}
.owl-carousel .owl-item .item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white;
}
.owl-carousel .owl-item .item img {
  width: 40%;
}
.owl-carousel .owl-item .item h1.edit {
  border-bottom: 2px solid rgba(50, 24, 212, 0.4);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  max-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.owl-carousel .owl-item .item h1.edit span:nth-child(1) {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
.owl-carousel .owl-item .item h1.edit span:nth-child(2) {
  text-align: center;
}
.owl-carousel .owl-item .item h1.edit > .label {
  font-size: 1em;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#3218d4),
    color-stop(28%, #3218d4),
    color-stop(28%, #4428d7),
    color-stop(33%, #4428d7),
    color-stop(33%, #5639da),
    color-stop(48%, #5639da),
    color-stop(48%, #6849dd),
    color-stop(55%, #6849dd),
    color-stop(55%, #7a5ae0),
    color-stop(75%, #7a5ae0),
    color-stop(75%, #8c6ae3),
    to(#8c6ae3)
  );
  background: linear-gradient(
    90deg,
    #3218d4 0%,
    #3218d4 28%,
    #4428d7 28%,
    #4428d7 33%,
    #5639da 33%,
    #5639da 48%,
    #6849dd 48%,
    #6849dd 55%,
    #7a5ae0 55%,
    #7a5ae0 75%,
    #8c6ae3 75%,
    #8c6ae3 100%
  );
  display: inline-block;
  padding: 10px 20px;
}
.owl-carousel .owl-item .item h1.edit > .label > div {
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  color: white;
}
.owl-carousel .owl-item .item h1.edit .title {
  font-size: 1.3em;
  display: inline-block;
  margin-left: 20px;
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.owl-carousel .owl-item .item p {
  font-size: 1em;
}
.owl-carousel .owl-item .item.content .container-fluid h1,
.owl-carousel .owl-item .item.content .container h1 {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
}
.owl-carousel .owl-item .item.content .container-fluid ul,
.owl-carousel .owl-item .item.content .container ul {
  margin-bottom: 20px;
}
.owl-carousel .owl-item .item.video h1 a {
  font-size: 2em;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-align: center;
  color: white;
}

.myNav {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2em;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.myNav .btn-prev,
.myNav .btn-next {
  color: white;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.3s;
  transition: opacity 0.5s, -webkit-transform 0.3s;
  transition: opacity 0.5s, transform 0.3s;
  transition: opacity 0.5s, transform 0.3s, -webkit-transform 0.3s;
}
.myNav .btn-prev:hover,
.myNav .btn-next:hover {
  opacity: 1;
  -webkit-transform: scaleY(0.9);
  transform: scaleY(0.9);
}
.myNav .btn-prev.none,
.myNav .btn-next.none {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  opacity: 0.4;
}
.myNav .btn-prev {
  margin-right: 20px;
}
