* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: calc(1vw + 1em);
}
.bg {
  background-image: url("../img/bg-ubuntu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-left,
.bg-right {
  background-size: 400px;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(2px 4px 6px black);
  filter: drop-shadow(2px 4px 6px black);
}
.bg-left {
  background-image: url("../img/bug-fix.png");
  background-position: -200px center;
}
.bg-right {
  background-image: url("../img/bug-fix.png");
  background-position: calc(100% + 200px) center;
}
.owl-carousel {
  // background-image: radial-gradient(
  //   circle,
  //   rgba(#92f7f7, 0.4),
  //   rgba(#92f7f7, 0.5),
  //   rgba(#92f7f7, 0.7),
  //   rgba(#92f7f7, 1)
  // );

  width: 100vw;
  .owl-item {
    height: 100vh;
    .item {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: white;
      img {
        width: 40%;
      }
      h1.edit {
        border-bottom: 2px solid rgba(50, 24, 212, 0.4);
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        max-width: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        span:nth-child(1) {
          min-width: -webkit-fit-content;
          min-width: -moz-fit-content;
          min-width: fit-content;
        }
        span:nth-child(2) {
          text-align: center;
        }
        & > .label {
          font-size: 1em;
          background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgb(50, 24, 212)),
            color-stop(28%, rgb(50, 24, 212)),
            color-stop(28%, rgb(68, 40, 215)),
            color-stop(33%, rgb(68, 40, 215)),
            color-stop(33%, rgb(86, 57, 218)),
            color-stop(48%, rgb(86, 57, 218)),
            color-stop(48%, rgb(104, 73, 221)),
            color-stop(55%, rgb(104, 73, 221)),
            color-stop(55%, rgb(122, 90, 224)),
            color-stop(75%, rgb(122, 90, 224)),
            color-stop(75%, rgb(140, 106, 227)),
            to(rgb(140, 106, 227))
          );
          background: linear-gradient(
            90deg,
            rgb(50, 24, 212) 0%,
            rgb(50, 24, 212) 28%,
            rgb(68, 40, 215) 28%,
            rgb(68, 40, 215) 33%,
            rgb(86, 57, 218) 33%,
            rgb(86, 57, 218) 48%,
            rgb(104, 73, 221) 48%,
            rgb(104, 73, 221) 55%,
            rgb(122, 90, 224) 55%,
            rgb(122, 90, 224) 75%,
            rgb(140, 106, 227) 75%,
            rgb(140, 106, 227) 100%
          );
          display: inline-block;
          padding: 10px 20px;

          & > div {
            -webkit-transform: skewX(-20deg);
            transform: skewX(-20deg);
            color: white;
          }
        }

        .title {
          font-size: 1.3em;
          display: inline-block;
          margin-left: 20px;
          -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
        }
      }
      p {
        font-size: 1em;
      }

      &.content {
        .container-fluid,
        .container {
          h1 {
            font-size: 2em;
            text-transform: uppercase;
            margin-bottom: 50px;
            text-align: center;
          }
          ul {
            margin-bottom: 20px;
          }
        }
      }

      &.video {
        h1 {
          a {
            color: white;
            font-size: 2em;
            text-transform: uppercase;
            margin-bottom: 50px;
            text-align: center;
          }
        }
      }
    }
  }
}

.myNav {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2em;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .btn-prev,
  .btn-next {
    color: white;
    cursor: pointer;
    opacity: 0.8;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.3s;
    transition: opacity 0.5s, -webkit-transform 0.3s;
    transition: opacity 0.5s, transform 0.3s;
    transition: opacity 0.5s, transform 0.3s, -webkit-transform 0.3s;

    &:hover {
      opacity: 1;
      // transform: rotateX(25deg);
      -webkit-transform: scaleY(0.9);
      transform: scaleY(0.9);
    }

    &.none {
      -webkit-transition: 0.1s;
      transition: 0.1s;
      opacity: 0.4;
    }
  }
  .btn-prev {
    margin-right: 20px;
  }
}
